# Application
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_NAME="SMARTCASEBD"

# Database
DATABASE_URL="file:./dev.db" # Or postgresql://user:password@localhost:5432/smartcasebd

# JWT Authentication Secrets
JWT_SECRET="your-customer-jwt-secret-here"
ADMIN_JWT_SECRET="your-admin-jwt-secret-here"
